body{
  background-color: rgb(105, 173, 215);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15%;
}
.container{
  padding: 10px;
  border: 2px solid whitesmoke;
  width: 500px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  background-color: rgb(27, 161, 224);
}
.head{
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.head label{
  display: flex;
  justify-content: center;
}

input{
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
}

input:hover{
  background-color: rgb(235, 235, 235);

}
